:root {
  --primary-color: rgb(183, 19, 117);
  --secondary-color: rgb(252, 79, 0);
  --tertiary-color: rgb(139, 24, 116);
  --quaternary-color: rgb(247, 149, 64);
  --box-shadow: 0 5px 10px rgb(247, 149, 64);
}

body {
  margin: 60px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  color: var(--tertiary-color);
}

h2 {
  font-size: 48px;
  color: var(--tertiary-color);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  color: var(--tertiary-color);
}
p {
  background: var(--quaternary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.sub-title {
  color: var(--primary-color);
}

.btn-default {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  display: flex;
  justify-content: center;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 18px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.contact {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 18px;
  text-decoration: none;
}
